h1 {
font-family: Arial;
  font-weight: Bold;
}
h2 {
font-family: Arial;
  font-weight: Bold;
}
h3 {
font-family: Arial;
  font-weight: Bold;
}
h4 {
font-family: Arial;
  font-weight: Bold;
}
h5 {
font-family: Arial;
  font-weight: Bold;
}
h6 {
font-family: Arial;
  font-weight: Bold;
}
